body {
background-color: #d4bef8;
font-family: Arial, sans-serif;
color: #07040f;
margin: 20px;
}
h1 {
color: #ae98fe;
text-align: center;
font-family: 'Times New Roman', Times, serif;
}
h2 {
color: #010c18;
text-align: left;
}
p {
font-size: 18px;
text-align: left;
line-height: 1.5;
}


.daftar-produk{
display: grid;
grid-template-columns:repeat(auto-fit,minmax(250px, 1fr));
gap: 20px;
padding: 20px;
}

.produk{
background-color: #ae9bce;
border:1px solid #d4bef8;
padding: 15px;
border-radius: 10px;
text-align: center;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1)
}

.produk img{
width: 150px;
height: auto;
border-radius: 5px;
margin-bottom: 10px;
}
.produk h2{
font-size: 20px;
color: #2c3e50
}
.produk h3{
font-size: 16px;
color: #ec93da;
}
.harga{
 font-weight: bold;  
 color: #111f4c; 
}
.deskripsi{
  font-size: 14px;  
  color: #555;
}
.artikel {
  max-width: 700px;
  margin: auto;
  padding: 20px;
  background-color: #a2b7fa;
  font-family: 'Georgia', serif;
line-height: 1.8;
}
.artikel .penulis {
  font-style: italic;
  color: #2c2b2b;
  margin-bottom: 20px;
}
.artikel .sampul {
  width: 180px;
  float: right;
  margin: 0 0  20px 20px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}
.artikel blockquote {
  font-style: italic;
  padding-left: 20px;
  margin: 20px 0;
  border-left: 4px solid #052135;
  color: #464c8c;
  background-color: #97c9e1;
}

.btn-kembali {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 16px;
  background-color: #6998c6;
  color: rgb(28, 26, 26);
  text-decoration: none;
  border-radius: 4px;
}

.btn-kembali:hover {
background-color: #b4d7f9;
}



.formulir{
  max-width:  600px;
  margin: auto;
  padding: 20px;
  background-color: #ce7ed9d2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label{
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

form input,form select,form textarea{
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #944d9a;
}

form button{
  background-color: #a530c9;
  color:#cf9ad2;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover{
  background-color: #a651cd;
}